<div id='confirmationModal'>
    <div class="modal-header" id='cancelModal' >
        <h4 class="modal-title">Cancel changes</h4>
    </div>
    <div class="modal-body">
        Are you sure you want to cancel the changes you have made? You will lose all unsaved information.
    </div>
    <div class="modal-footer">
        <button class='btn btnSave1 color' ng-click="confirmationModal.cancelYes()">Yes</button>
        <button class='btn btnCancel1 color' ng-click="confirmationModal.cancelNo()">No</button>
    </div>
</div>