<div id='changePasswordModal'>
    <form name="changePasswordForm" id="changePasswordForm" novalidate>
        <div class="modal-header" >
            <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 p10">
                    <div class="col-sm-4">
                        <label for="newPassword" class="tcp-modal-label">
                            New Password <span class="icon-asterisk icon-required"></span>
                        </label>
                    </div>
                    <div class="col-sm-8 padding-left"> 
                        <input type="password" class="form-control input-sm" ng-model="changePasswordModal.newPassword"  id="newPassword" name="newPassword" maxlength="100" required/>
                        <div class="error,help-block">
                            <span class="help-block" ng-show="changePasswordForm.newPassword.$invalid && changePasswordModal.submittedFlag">Enter new password</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-12 p10">
                    <div class="col-sm-4">
                        <label for="confirmPassword" class="tcp-modal-label">Confirm Password <span class="icon-asterisk icon-required"></span></label>
                    </div>
                    <div class="col-sm-8 padding-left"> 
                        <input type="password" class="form-control input-sm" ng-model="changePasswordModal.confirmPassword"  id="confirmPassword" name="confirmPassword" maxlength="100" required/>
                        <div class="error,help-block">
                            <span class="help-block" ng-show="changePasswordForm.confirmPassword.$invalid && changePasswordModal.submittedFlag">Enter confirm password</span>
                            <span class="help-block" ng-show="changePasswordForm.confirmPassword.$valid && changePasswordModal.submittedFlag && changePasswordModal.confirmPassword!==changePasswordModal.newPassword">Confirm password does not match with new password</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="modal-footer">
            <button class='btn btnSave1 color' ng-click="changePasswordModal.changePassword(changePasswordForm)">Change</button>
            <button class='btn btnCancel1 color' ng-click="changePasswordModal.cancel()">Cancel</button>
        </div>
    </form>
</div>